# Ejercicio 1: Transformar cadenas
Hay varias operaciones que puedes realizar en las cadenas cuando las manipulamos. En este ejercicio, usarás métodos de cadena para modificar el texto con hechos sobre la Luna y luego extraerás información para crear un breve resumen.

> **Nota**
> Dedica unos minutos a tratar de encontrar una solución. Luego desplázate hacia abajo hasta la parte inferior para ver si has logrado compilar el programa de acuerdo con las especificaciones.

El texto con el que trabajarás es el siguiente:

In [ ]:
text = """Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. 
On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough to cause immediate effects on Earth. The highest daylight temperature of the Moon is 127 C."""

Primero, divide el texto en cada oración para trabajar con su contenido:

In [40]:
# Divide el texto

text_parts = text.split('. ')
text_parts

['Temperatures on the Moon can vary wildly.']

Ahora, define algunas palabras clave para búsqueda que te ayudarán a determinar si una oración contiene un hecho.

In [56]:
# Palabras clave

key_words = ["average", "temperature", "distance"]

Cree un bucle para imprimir solo datos sobre la Luna que estén relacionados con las palabras clave definidas anteriormente:

In [57]:
# Ciclo for para recorrer la cadena

for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break

Finalmente, actualiza el bucle(ciclo) para cambiar _C_ a _Celsius_:

In [61]:
# Ciclo para cambiar C a Celsius

for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence.replace(' C', ' Celsius'))
            break

> Recuerda: Lo importante es intentarlo, puedes auxiliarte de internet, libros, etc. El objetivo de una kata es la comprobación de la comprensión de la lección y su aplicación inmediata a la resolución de problemas. Go for it!

# Conceptos básicos de cadenas en Python

## Inmutabilidad de las cadenas

In [6]:
fact = 'The Moon has no atmosphere. '
fact + 'No sound can be heard on the Moon.'

'The Moon has no atmosphere. No sound can be heard on the Moon.'

In [5]:
fact

'The Moon has no atmosphere. '

In [7]:
two_facts = fact + 'No sound can be heard on the Moon.'
two_facts

'The Moon has no atmosphere. No sound can be heard on the Moon.'

# Acerca del uso de comillas

In [9]:
moon_radius = "The Moon has a radius of 1,080 miles"

In [10]:
'The "near side" is the part of the Moon that faces the Earth'

'The "near side" is the part of the Moon that faces the Earth'

In [13]:
"We only see about 60% of the Moon's surface"

"We only see about 60% of the Moon's surface"

In [62]:
'We only see about 60% of the Moon's surface'
  File '<stdin>', line 1
    'We only see about 60% of the Moon's surface'
                                       ^
SyntaxError: invalid syntax

SyntaxError: unterminated string literal (detected at line 1) (1933904877.py, line 1)

In [15]:
"""We only see about 60% of the Moon's surface, this is known as the "near side"."""

'We only see about 60% of the Moon\'s surface, this is known as the "near side".'

# Texto Multilinea

In [1]:
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)
Facts about the Moon:
 There is no atmosphere.
 There is no sound.

SyntaxError: invalid syntax (3769807879.py, line 3)

In [63]:
multiline = """Facts about the Moon:
...  There is no atmosphere.
...  There is no sound."""
print(multiline)
Facts about the Moon:
There is no atmosphere.
There is no sound

SyntaxError: invalid syntax (2998373524.py, line 5)

# Métodos string en Python

In [3]:
'temperatures and facts about the moon'.title()

'Temperatures And Facts About The Moon'

In [4]:
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

## Dividir una cadena

In [5]:
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', 'Nighttime:', '-280', 'F']

In [6]:
temperatures .split('\n')

['Daylight: 260 F', 'Nighttime: -280 F']

## Buscar una cadena

In [7]:
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [8]:
'Moon' in 'This text will describe facts about the Moon'

True

In [9]:
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""

In [10]:
temperatures.find('Moon')

-1

In [11]:
temperatures.find('Mars')

64

In [12]:
temperatures.count('Mars')

1

In [13]:
temperatures.count('Moon')

0

In [14]:
"The Moon And The Earth".lower()

'the moon and the earth'

In [15]:
'The Moon And The Earth'.upper()

'THE MOON AND THE EARTH'

## Comprobar el contenido

In [17]:
temperatures = 'Mars Average Temperature: -60 C'

In [18]:
parts = temperatures.split(':')
parts

['Mars Average Temperature', ' -60 C']

In [19]:
parts[-1]

' -60 C'

In [20]:
>>> mars_temperature = 'The highest temperature on Mars is about 30 C'

In [21]:
for item in mars_temperature.split():
    if item.isnumeric():
        print(item)

30

In [22]:
'-60'.startswith('-')

True

In [23]:
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

# Transformar texto

# Ejercicio 2: Formateando Cadenas

Saber cómo dar formato a las cadenas es esencial cuando se presenta información de un programa. Hay algunas maneras diferentes de lograr esto en Python. En este ejercicio, se utilizan variables que contienen datos clave sobre la gravedad en varias lunas y luego se utilizan para dar formato e imprimir la información.

El formato tiene que acomodar información sobre otras lunas, por lo que debe ser genérico.

En lugar de reemplazar las variables en una cadena larga como parte de un párrafo, utiliza la información para presentarla en un formato tabular. El resultado debería verse así:

```
Gravity Facts about Ganymede
-------------------------------------------------------------------------------
Planet Name: Mars
Gravity on Ganymede: 1.4300000000000002 m/s2
```

In [ ]:
# Datos con los que vas a trabajar

planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

Primero, crea un título para el texto. Debido a que este texto trata sobre la gravedad en la Tierra y la Luna, úsalo para crear un título significativo. Utiliza las variables en lugar de escribir.

In [117]:
# Creamos el título
title = f'datos de gravedad sobre {nombre}'

Ahora crea una plantilla de cadena multilínea para contener el resto de la información. En lugar de usar kilómetros, debes convertir la distancia a metros multiplicando por 1,000.

In [118]:
# Creamos la plantilla
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

Finalmente, usa ambas variables para unir el título y los hechos.

In [120]:
# Unión de ambas cadenas
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

Ahora usa información de una luna diferente para ver si la plantilla todavía funciona.

Datos muestra: 
```
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'
```

In [102]:
# Comprueba la plantilla
# print(nombre_plantilla)

print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

La salida no muestra información sobre Marte. Todavía muestra información sobre la Luna. Esto sucede porque las cadenas f están ansiosas en su evaluación, por lo que las variables una vez asignadas no se pueden reasignar. Para evitar este problema, vuelva a hacer la plantilla para utilizar .format():

In [131]:
# Nueva plantilla

new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

Debido a que .format() no permite expresiones, la gravedad en Ganímedes es incorrecta. Asegúrese de que la operación se realiza fuera de la plantilla de formato e imprima de nuevo para ver el resultado de trabajo.

In [132]:
# Pista: print(nueva_plantilla.format(variables))
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

## Soluciones

## Ejercicio 1

In [41]:
# Divide el texto
text_parts = text.split('. ')
text_parts

['Temperatures on the Moon can vary wildly.']

In [43]:
# Palabras clave
key_words = ["average", "temperature", "distance"]

In [44]:
# Ciclo for para recorrer la cadena
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence)
            break

In [45]:
# Ciclo para cambiar C a Celsius
for sentence in text_parts:
    for key_word in key_words:
        if key_word in sentence:
            print(sentence.replace(' C', ' Celsius'))
            break

## Ejercicio 2

In [46]:
# Datos con los que vamos a trabajar

planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [85]:
# Creamos el título
title = f'datos de gravedad sobre {nombre}'

In [86]:
# Creamos la plantilla
hechos = f"""{'-'*80} 
Nombre del planeta: {planeta} 
Gravedad en {nombre}: {gravedad * 1000} m/s2 
"""

In [49]:
# Unión de ambas cadenas
template = f"""{title.title()} 
{hechos} 
""" 
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [50]:
# Nuevos datos muestra
planeta = 'Marte '
gravedad  = 0.00143
nombre = 'Ganímedes'

In [51]:
# Comprobamos la plantilla
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

In [52]:
new_template = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 0.00143 m/s2

In [53]:
# Pista: print(nueva_plantilla.format(variables))
print(new_template.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: Ganímedes
-------------------------------------------------------------------------------
Nombre del planeta: Marte
Gravedad en Ganímedes: 1.4300000000000002 m/s2

Curso Propedútico de Python para Launch X - Innovacción Virtual.

Material desarrollado con base en los contenidos de MSLearn y la metáfora de LaunchX, traducción e implementación por: Fernanda Ochoa - Learning Producer de LaunchX.

Redes:
* GitHub: [FernandaOchoa](https://github.com/FernandaOchoa)
* Twitter: [@imonsh](https://twitter.com/imonsh)
* Instagram: [fherz8a](https://www.instagram.com/fherz8a/)